
.navlogo{
  height: 50px;
  width: 50px;
}
#title{
  background-color: #8fc0a9;
  padding-bottom: 30px;
}
.container-fluid{
  padding: 0 15%;
}
h1{
  padding-top: 60px;
  margin: auto;
  
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.3;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}
h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
p{
  color: #8f8f8f;
  font-family: 'Montserrat', sans-serif;
}
.iphonimg{
  padding-top: 80px;
  margin-left: 25%;
  width: 60%;
  transform: rotate(25deg);
}
.tiwariimg{
  height: 100px;
  width: 100px;
  border-radius: 100%;
  margin: 20px;
}
#features{
  padding: 7% 13%;
  
}
.feature-box{
  text-align: center;
}

.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
}
.navbar-item {
  padding: 0 18px;
  font-family: 'Ubuntu', sans-serif;
}

.btdnl{
  margin: 5% 3% 5% 0
}
.icon{
  color: #20b67c;
  margin-bottom: 1rem;
}
.icon:hover{
  color: chartreuse;
}
#testimonials{
  padding: 7% 15%;
  text-align: center;
  background-color: #57a397;
}
#cta{
  background-color: #57a397;
  padding: 7% 15%;
  text-align: center;
}
.cta-heading{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}
#pricing{
  padding: 100px;
  text-align: center;
  
}
.social-icon{
  margin: 20px 10px;
}
#footer{
  padding: 7% 15%;
  text-align: center;
}
.pricing-column{
  padding: 3% 2%;
}

@media (max-width: 1028px) {

  .iphonimg{
    transform: rotate(0);
    margin: auto 5% auto 18%;
  }

}